@use "sass:map";
@use "../styles/_var.scss" as var;

:root.theme-dark {
  --cu-background-color: #303030; // 示例暗背景色
  --cu-text-color: #f0f0f0; // 示例浅色文本
  --cu-border-color: #{var.$border-color-dark};
  --cu-link-color: #{var.$color-primary}; // 使用主题色作为链接颜色
  --cu-hover-background-color: #383838; // 示例悬停背景色
  --cu-text-color-regular: #f0f0f0; // 示例暗模式下的文本颜色
  --cu-color-primary: #{var.$color-primary};
  --cu-input-disabled-bg: #404040; // 示例暗模式禁用背景色
  --cu-input-disabled-border: #555555; // 示例暗模式禁用边框色
  --cu-input-disabled-color: #666666; // 示例暗模式禁用文本色
  --cu-input-hover-border-color: #555555; // 示例暗模式悬停边框色
  --cu-input-placeholder-color: #666666; // 示例暗模式占位符颜色
}
