// styles/themes/_dark.scss
@use "../_var.scss" as var;
:root.theme-dark {
    --cu-background-color: #{var.$color-black}; // 暗色背景
    --cu-text-color: #c7c7c7; // 浅色文本
    --cu-border-color: #444; // 深色边框
    --cu-link-color: #4a9cd6; // 亮蓝链接色
    --cu-hover-background-color: #383c44; // 悬停时的背景色
}
