@use "sass:map";
@use "../styles/_var.scss" as var;

:root.theme-light {
    --cu-background-color: #{var.$color-white};
    --cu-text-color: #333;
    --cu-border-color: #{var.$border-color-light};
    --cu-link-color: #{var.$color-primary};
    --cu-hover-background-color: #f8f8f8;
    --cu-text-color-regular: #{var.$color-info};
    --cu-color-primary: #{var.$color-primary};
    --cu-input-disabled-bg: #{var.$input-disabled-bg};
    --cu-input-disabled-border: #{var.$input-disabled-border};
    --cu-input-disabled-color: #{var.$input-disabled-color};
    --cu-input-hover-border-color: #{var.$input-hover-border-color};
    --cu-input-placeholder-color: #{var.$input-placeholder-color};
}
