// styles/themes/_light.scss
@use "../_var.scss" as var;
:root.theme-light {
  --cu-background-color: #{var.$color-white}; // 白色背景
  --cu-text-color: #333; // 深色文本
  --cu-border-color: #ddd; // 浅色边框
  --cu-link-color: #0066cc; // 链接颜色
  --cu-hover-background-color: #f8f8f8; // 悬停时的背景色
}
