// styles/_var.scss

@use "sass:math";
@use "sass:map";

// 默认的颜色、字体和间距
$colors: () !default;
$colors: map.deep-merge(
    (
        "white": #ffffff,
        "black": #000000,
        "primary": (
            "base": #409eff
        ),
        "success": (
            "base": #67c23a
        ),
        "warning": (
            "base": #e6a23c
        ),
        "danger": (
            "base": #f56c6c
        ),
        "error": (
            "base": #f56c6c
        ),
        "info": (
            "base": #909399
        )
    ),
    $colors
);

// 添加与 `.cu-textarea` 类相关的变量
$font-sizes: (
    "base": 14px,
    "small": 12px
) !default;

$border-color: #dcdfe6 !default;
$border-radius-base: 4px !default;
$input-padding-vertical: 8px !default;
$input-padding-horizontal: 12px !default;
$input-disabled-bg: #f5f5f5 !default;
$input-disabled-border: #dcdfe6 !default;
$input-disabled-color: #c0c4cc !default;
$input-hover-border-color: #c0c4cc !default;
$input-placeholder-color: #c0c4cc !default;

$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;
$color-primary: map.get($colors, 'primary', 'base') !default;
$color-success: map.get($colors, 'success', 'base') !default;
$color-warning: map.get($colors, 'warning', 'base') !default;
$color-danger: map.get($colors, 'danger', 'base') !default;
$color-error: map.get($colors, 'error', 'base') !default;
$color-info: map.get($colors, 'info', 'base') !default;
